{% extends 'admin/base_site.html' %}
{% load static %}

{% block extrastyle %}<link href="{% static 'hrmain/css/admin.css' %}" rel="stylesheet">{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">HRTOOLS Admin Panel</a></h1>
    <h2 class="additional-links"><a href="{% url 'hrtools:index' %}">Main Page</a></h2>
{% endblock %}