.profile-picture-block {
    max-width: 318px;
    max-height: 300px;
    overflow:hidden;
}
#profile-picture {
    width: 100%;
}
.card-col, .search-col, .interview-col {
    margin-top: 1rem;
}
#modal-dialog-employee-details {
    max-width: 80%;
    width: auto !important;
}

#employee-details-name {
    padding-top: 10px;
}

.card-body-details, .card-body-search {
    padding: 0;
}

.employee-profile {
    border-color: #ddd #ddd #fff;
    border: 1px solid #ddd!important;
    border-top: 0!important;
    padding-top: 1rem;
}

.stand-out-left {
    padding-left: 1rem;
}

.profile-icon {
    cursor: pointer;
}

.card-title-search, .badge-team, .salary, .col-inline {
    display: inline-block;
}

.badge-team {
    margin-bottom: 0.3rem;
}
.search-card {
    margin-top: 3rem;
}
.search-label, #employee-search-button, #employee-advanced-search-button {
    display: block;
}
.search-label, .btn-search, .complex-searchfield2, .advanced-searchform {
    margin-top: 1rem !important;
}
.sticky-padding {
    top: 5rem;
}

.skillsearch-form, .skillsearch-advanced-form {
    margin: 1.5rem;
}

/*#employee-search-button, #employee-advanced-search-button {*/
    /*margin-bottom: 1.5rem !important;*/
/*}*/

.card-body-search {
    padding-top: 1rem;
}

.search-condition-radio, .search-advanced-condition-radio {
    margin-top: 1.5rem;
}

.form-margin-1 {
    margin-top: 1rem;
}

.form-margin-05 {
    margin-top: 0.5rem;
}

.search-card {
    min-width: 191px;
}

dd, dt {
    margin-bottom: 1rem;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.review-accordion {
    margin-right: 1rem;
}

/*.salary {*/
    /*display: inline-block;*/
/*}*/
.review-tab {
    margin-bottom: 1rem
}
.col-nowrap {
    white-space: nowrap;
}
#social-tab {
    font-size: 1.5rem;
}

.interview-frame, .review-frame {
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: inherit;
}
.d-nomargin {
    margin-bottom: 0;
}
.dl-interview, .dl-review {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.interview-right, .review-right {
    position: absolute;
    width: 100%;
    height: 100%;
}

.interview-open, .review-open {
    position: absolute;
    bottom: 0;
    right: 0;
}

.interview-button, .review-button {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: inherit;
}
.interview-row, .review-row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.interview-photo-frame, .review-photo-frame {
    /*height: 250px;*/
    width: 200px;
    max-height: 250px;
    overflow: hidden;
    display: inline-block;
}
.interview-photo-img, .review-photo-img {
    max-width: 200px;
}

.interview-frame, .interview-photo-frame, .review-frame, .review-photo-frame {
    border: 1px solid #ddd!important;
}

.interviewer-img {
    max-width: 150px
}