{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">

        <title>HRTOOLS{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'hrmain/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Font Awesome icons -->
        <link rel="stylesheet" href="{% static 'hrmain/css/font-awesome.min.css' %}">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'hrmain/cube.png' %}"/>

        <!-- Custom styles for this template -->
        <link href="{% static 'hrmain/css/style.css' %}" rel="stylesheet">
        {% block style %}
        {% endblock %}
        {% block javascript %}
            <script>
                window.onload = function() {
                    $('#login-button').popover({
                        html: true,
                        content: $('#login-form').html()
                    });
                }
            </script>
        {% endblock %}
    </head>

    <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'hrtools:index' %}">{% block application_name %}HRTOOLS{% endblock %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hrmain-navbar" aria-controls="hrmain-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="hrmain-navbar">
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Skillsearch
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'skillsearch:employees' %}">Employees</a>
                    <a class="dropdown-item" href="{% url 'skillsearch:candidates' %}">Candidates</a>
                </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'hrtools:user_settings' %}">Configuraton</a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" id="logout-button" href="{% url 'hrlogin:logout' %}" data-toggle="popover" data-placement="bottom">Logout</a>
                </li>
            </ul>
            {% else %}
                {% include "hrmain/unlogged_menu.html" %}
            {% endif %}
        </div>

        {% block nav_form_right %}
        {% endblock %}

    </nav>

            {% block sidebar %}
            {% endblock %}

            {% block body %}
            <div class="container-fluid col-sm-9 col-md-10">

                <div class="body-template base-body">
                    <h1>This is the main page.</h1>
                    <p class="lead">There will be something, but now there is nothing.</p>
                </div>

            </div><!-- /.container -->

            {% endblock %}

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="{% static 'hrmain/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'hrmain/js/popper.min.js' %}" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="{% static 'hrmain/js/bootstrap.min.js' %}"></script>
    </body>
</html>