<div class="col-md-3">
    <div class="nav flex-column nav-pills border rounded" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-settings" href="{% url 'hrtools:user_settings' %}">Settings</a>
        <a class="nav-link" id="v-pills-password" href="{% url 'hrtools:password_config' %}">Change password</a>
    </div>
</div>