{% extends "hrmain/base.html" %}
{% load static %}

{% block javascript %}
        <script>
        window.onload = function() {
            $(".settings-success").fadeOut(3000)
            {% block settings_onload %}{% endblock %}
        }
    </script>
{% endblock %}

{% block title %}|Configuration{% endblock %}

{% block body %}
    <div class="container-fluid col-sm-9 col-md-10">
        <div class="body-template">
            {% for message in messages %}
                <div class="alert alert-success settings-success mx-auto" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                {% include "hrmain/config_sidebar.html" %}
                <div class="col-md-1"></div>
                <div class="col-md-4 offset-md-4">
                    {% block form %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}