{% load hrmain_tags %}
{% for field in form %}
    <div class="form-group">
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <label for="{{ field.id }}">{{ field.label }}{% if field.field.required %}<span class="badge badge-light badge-secondary">required</span>{% endif %}</label>
        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" \
               id="{{ field.id }}" class="form-control" placeholder="{{ field.label }}" \
               value="{% if  request.POST|get_dict_key:field.name %}{{ request.POST|get_dict_key:field.name }}{% endif %}">
    </div>
{% endfor %}
<button type="submit" class="btn btn-primary float-right">Submit</button>