<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link" id="login-button" href="#" data-toggle="popover" data-placement="bottom">Login</a>
    </li>
</ul>
<div id="login-form" class="hide">
    <form action="{% url 'hrlogin:login' %}" method="post">
        {% csrf_token %}
      <div class="form-group">
        <label for="login-form-login">Login</label>
        <input type="text" class="form-control" name="username" id="login-form-login" aria-describedby="emailHelp" placeholder="Your login">
      </div>
      <div class="form-group">
        <label for="login-form-password">Password</label>
        <input type="password" class="form-control" id="login-form-password" name="password" placeholder="Your password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>