{% extends "hrmain/base.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'hrlogin/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid padding-top-20">
        <div class="row justify-content-md-center">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Wrong credentials</h4>
                <p>Probably you have entered incorrect login or password or did not enter them at all.</p>
                <hr>
                <p class="mb-0">Try again, silly.</p>
            </div>
        </div>
    </div>
{% endblock %}