body {
  padding-top: 3.5rem;
}
.body-template {
  padding: 3rem 1.5rem;
}

.base-body {
    text-align: center;
}

.sidebar .nav-link {
    border-radius: 0;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.nav-search {
    flex-flow: row;
}

.hide {
    display: none;
}

#login-form-remember {
    margin-left: 0px;
}

.settings-success {
    text-align: center;
    max-width: 800px;
}