{% load static %}
<div class='container-fluid'>
    <div class="row" id="body-template-row">
        <div class="col" id="profile-card-container" align="left">
            <div class="card" style="width: 20rem;">
                <img class="profile-picture-img rounded" id="profile-picture" src="{% if candidate.picture %}{% get_media_prefix %}{{ candidate.picture }}{% endif %}" alt="Card image cap">
                <div class="card-body card-body-details">
                <h4 class="empty-tab" id="employee-details-name" align="center">{{ candidate.first_name }} {{ candidate.last_name }}</h4>
                </div>
            </div>
        </div>
        <div class="col" id="profile-container">
            <ul class="nav nav-tabs" id=candidate-profile-tab role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="candidate-profile-tab-button" href="#profile" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="candidate-interviews-tab-button" href="#interviews" data-toggle="tab" role="tab" aria-controls="interviews" aria-selected="false">Interviews</a>
                </li>
                {% if perms.skillsearch.change_candidate %}
                    <li class="nav-item">
                        <a class="nav-link" id="candidate-control-tab-button" href="#control" data-toggle="tab" role="tab" aria-controls="control" aria-selected="false">Control</a>
                    </li>
                {% endif %}
            </ul>
            <div class="tab-content">

                <div class="tab-pane fade show active employee-profile rounded-bottom" id="profile" role="tabpanel" aria-labelledby="candidate-profile-tab-button">
                    <div class="stand-out-left">
                        <dl class="row">
                            <!-- Salary -->
                            {% if perms.skillsearch.add_candidatesalary and  perms.skillsearch.change_candidatesalary and perms.skillsearch.delete_candidatesalary %}
                                <dt class="col-md-1" id="salary-header"><i class="fa fa-money" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Salary"></i></dt>
                                <dd class="col-md-11" id="salary-tab">
                                    <div class="salary empty-tab" id="cand-salary">{{ candidatesalary.salary }}</div>
                                </dd>
                            {% endif %}

                            <dt class="col-md-1" id="birthday-header"><i class="fa fa-birthday-cake" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Birthday"></i></dt>
                            <dd class="col-md-11 empty-tab" id="birthday-tab">
                                {% if candidate.birthday %}
                                    {{ candidate.birthday }}
                                {% endif %}
                            </dd>

                            <dt class="col-md-1" id="phone-header"><i class="fa fa-phone-square" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Phone"></i></dt>
                            <dd class="col-md-11 empty-tab" id="phone-tab">
                                {{ candidate.phone_number }}
                            </dd>

                            <dt class="col-md-1" id="email-header"><i class="fa fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Email"></i></dt>
                            <dd class="col-md-11 empty-tab" id="email-tab">
                                {{ candidate.email }}
                            </dd>

                            <dt class="col-md-1" id="skype-header"><i class="fa fa-skype" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Skype"></i></dt>
                            <dd class="col-md-11 empty-tab" id="skype-tab">
                                {{ candidate.skype }}
                            </dd>

                            <dt class="col-md-1" id="cv-header"><i class="fa fa-id-badge" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="CV"></i></dt>
                            <dd class="col-md-11 empty-tab" id="cv-tab">
                                {% if candidate.cv %}
                                    <i class="fa {{ candidate.file_icon }}" aria-hidden="true"></i> <a href="{% get_media_prefix %}{{ candidate.cv }}">Download</a>
                                {% endif %}
                            </dd>

                            <dt class="col-md-1"><i class="fa fa-wrench" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Skills"></i></dt>
                            <dd class="col-md-11" id="skillset-tab">
                                {% for skill in candidate.serialize.skillset %}
                                    {{ skill.name }}
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ skill.level }}0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{ skill.level }}</div>
                                    </div>
                                {% endfor %}
                            </dd>
                            <footer class="blockquote-footer">Added by: <cite title="Source Title" id="added-by-tab" class="empty-tab">{{ candidate.added_by.first_name }} {{ candidate.added_by.last_name }}</cite></footer>
                        </dl>
                    </div>
                </div>

                {% include "skillsearch/interviews_modal.html" %}

                {% if perms.skillsearch.change_candidate %}
                    <div class="tab-pane fade employee-profile rounded-bottom" id="control" role="tabpanel" aria-labelledby="candidate-control-tab-button">
                        <div class="stand-out-left">
                            <dl class="row">
                                <dt class="col-sm-3">Control</dt>
                                <dd class="col-sm-9" id="control-section">
                                    {% if perms.skillsearch.delete_candidate and  perms.skillsearch.add_employees%}
                                        <button type="button" class="btn btn-success btn-hire" id="btn-hire" data-toggle="popover" data-placement="right">Hire</button>
                                    {% endif %}
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div id="hire-popover" class="hide">
                        <h5 class="text-center">Are you sure you want to hire this person?</h5>
                        <p class="text-center text-danger">This action cannot be reverted.</p>
                        <div class="hire-buttons" align="center">
                            <form action="{{ hire_url }}" method="get" class="form-inline" id="hire-form">
                                <button type="submit" class="btn btn-success btn-hire-yes mx-auto" id="btn-hire-yes">Yes, hire</button>
                                <button type="button" class="btn btn-danger btn-hire-no mx-auto" id="btn-hire-no">No, CANCEL</button>
                            </form>
                        </div>
                    </div>

                {% endif %}

            </div>
        </div>
    </div>
</div>