{% extends "skillsearch/base.html" %}
{% load static %}

{% block body %}
<div class="modal fade" id="employee-details-modal" tabindex="-1" role="dialog" aria-labelledby="employee-details-modal-label" aria-hidden="true">
  <div class="modal-dialog" id="modal-dialog-employee-details" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title col" id="employee-details-modal-label">Employee details
            <i class="fa fa-id-card profile-icon profile-page-icon" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Profile page"></i>
            <i class="fa fa-clipboard profile-icon profile-link-icon" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Copy link to clipboard"></i>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="col-md-12">
              {% block include_body %}{% endblock %}
          </div>
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<div class="progress" id="progress-example" style="display: none;">
    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div id="interview-frame-sample" class="col-md-12 interview-frame rounded" style="display: none;">
    <div class="col-md-6 d-inline-block">
        <dl class="row dl-interview">
            <dt class="col-sm-5 d-nomargin">Date</dt>
            <dd id="interview-date" class="col-sm-7 d-nomargin">
            </dd>
            <dt class="col-sm-5 d-nomargin">Result</dt>
            <dd id="interview-result" class="col-sm-7 d-nomargin">
            </dd>
            <dt class="col-sm-5 d-nomargin">Short description</dt>
            <dd id="interview-short" class="col-sm-7 d-nomargin">
            </dd>
        </dl>
    </div>
    <div class="col-md-6 d-inline-block interview-right" align="right">
        <div class="col-md-12">

        </div>
        <div class="col-md-12 interview-open" align="bottom">
            <a id='interview-open-link' href="#">Open>></a>
        </div>
    </div>
</div>

<div id="review-frame-sample" class="col-md-12 review-frame rounded" style="display: none;">
    <div class="col-md-6 d-inline-block">
        <dl class="row dl-review">
            <dt class="col-sm-5 d-nomargin">Date</dt>
            <dd id="review-date" class="col-sm-7 d-nomargin">
            </dd>
        </dl>
    </div>
    <div class="col-md-6 d-inline-block review-right" align="right">
        <div class="col-md-12">

        </div>
        <div class="col-md-12 review-open" align="bottom">
            <a id='review-open-link' href="#">Open>></a>
        </div>
    </div>
</div>

{% endblock %}

{% block modal_js %}
    <script>
        function enable_modal() {
            //Enabling tooltips
            $('[data-toggle="tooltip"]').tooltip()
            //Enabling modal
            $('#employee-details-modal').on('show.bs.modal', function (event) {
                button = $(event.relatedTarget)
                employee_id = button.data('id')
                employee_data_load(employee_id)
                history.replaceState(undefined, 'Title of the page', './' + employee_id + '/');
                {% block custom_js_onload %}{% endblock %}
                $('#hire-form').attr("action", "{% url 'skillsearch:hireredirect' %}" + employee_id + "/")
            })
            $('#employee-details-modal').on('hide.bs.modal', function (event) {
                history.replaceState(undefined, 'Title of the page', '../');
            })
        }

        function employee_data_load(employee_id){
            destination = {% block details_destination %}{% endblock %} + employee_id + "/";
            $.ajax({url: destination, success: function(result){
                $('#employee-details-modal').find('.profile-page-icon').click(function(){
                    window.location.replace(window.location.href)
                })
                $('#employee-details-modal').find('.profile-link-icon').click(function(){
                    $("#employee-details-modal").append('<input value="' + window.location.href + '">')
                    $("#employee-details-modal input").select()
                    document.execCommand('copy')
                    $("#employee-details-modal input").remove()
                })
                $('#employee-details-modal').find('#profile-picture').attr('src', result.profiles.picture)

                //Emptying elements which can be possibly not filled
                $('.empty-tab').empty()
                $('#skillset-tab').empty()

                $.each(result.profiles.skillset, function(skillindex, skill) {
                    $progress_obj = $('#progress-example').clone().prop({id: 'employee-progress' + result.profiles.id}).show()
                    $progress_obj.find('.progress-bar').prop({style: 'width: ' + skill.level + '0%'}).text(skill.level)
                    $progress = $progress_obj.prop('outerHTML')
                    $('#employee-details-modal').find('#skillset-tab').append(skill.name)
                    $('#employee-details-modal').find('#skillset-tab').append($progress)
                })
                append_string(result.profiles.first_name + ' ' + result.profiles.last_name, 'employee-details-name')
                append_string(result.profiles.phone, 'phone-tab')
                append_string(result.profiles.pemail, 'pemail-tab')
                if (result.profiles.compliance) {
                    append_string(result.profiles.compliance.name, 'compliance-tab')
                    $('#compliance-tab').addClass('text-' + result.profiles.compliance.color)
                }
                append_string(result.profiles.cemail, 'cemail-tab')
                append_string(result.profiles.email, 'email-tab')
                append_string(result.profiles.skype, 'skype-tab')
                append_string(result.profiles.birthday, 'birthday-tab')
                append_string(result.profiles.added_by, 'added-by-tab')
                append_data(result.profiles.teams, 'team')
                append_data(result.profiles.positions, 'position')
                append_interview(result.interviews, result.interviews_link, result.profiles.id)
                if (result.reviews) {
                    append_review(result.reviews, result.reviews_link, result.profiles.id)
                }
                if (result.profiles.cv && result.profiles.cvicon) {
                    append_string('<i class="fa ' + result.profiles.cvicon + '" aria-hidden="true"></i> <a href="' + result.profiles.cv + '">Download</a>', 'cv-tab')
                }
                if (result.profiles.linkedin !== '') {
                    append_string('<a href="' + result.profiles.linkedin + '" target="_blank"><i class="fa fa-linkedin-square"></i></a> ', 'social-tab')
                }
                if (result.profiles.facebook !== '') {
                    append_string('<a href="' + result.profiles.facebook + '" target="_blank"><i class="fa fa-facebook-square"></i></a> ', 'social-tab')
                }
                if (result.profiles.twitter !== '') {
                    append_string('<a href="' + result.profiles.twitter + '" target="_blank"><i class="fa fa-twitter-square"></i></a> ', 'social-tab')
                }
                //Review: adds review data to modal
                append_review(result.review)
                //Salary: adds salary data to modal
                if (typeof result.salary !== 'undefined') {
                    append_string(result.salary.current_salary, 'c-salary')
                    append_string(result.salary.desired_salary, 'd-salary')
                }
                if (typeof result.candidatesalary !== 'undefined') {
                    append_string(result.candidatesalary.salary, 'cand-salary')
                }
            }})
        }

        function append_data(data, tab_name) {
            //Appends iterators to containers in modals
            if (typeof data !== 'undefined') {
                    $.each(data, function(index, value) {
                        if (index != 0) {
                           $('#employee-details-modal').find('#' + tab_name + '-tab').append(', ')
                        }
                        $('#employee-details-modal').find('#' + tab_name + '-tab').append(value.name)
                    })
            }
        }

        function append_review(review) {
            if (typeof review !== 'undefined') {
                $.each(review, function(itemindex, item) {
                    if (itemindex != 'id') {
                        $('#employee-details-modal').find('#' + itemindex).append(item)
                    }
                })
            }
        }

        function append_string(data, tab_name) {
            $('#employee-details-modal').find('#' + tab_name).append(data)
        }

        function append_interview(interviews, link, id) {
            if (interviews != undefined) {
                $.each(interviews, function(ikey, idata){
                    frame = $('#interview-frame-sample').clone().prop({id: 'interview-' + idata.id}).show()
                    frame.find('#interview-date').append(idata.date)
                    frame.find('#interview-result').append(idata.result.name)
                    frame.find('#interview-result').addClass('text-' + idata.result.color)
                    frame.find('#interview-short').append(idata.short_description)
                    frame.find('#interview-open-link').attr('href', idata.link )
                    $('.interview-container').append(frame)
                })
                if (interviews.length > 0) {
                    $('.btn-all-interviews').show()
                    $('.btn-all-interviews').off('click').on('click', function(){window.open(link, '_blank')})
                }
                else {
                    $('.btn-all-interviews').hide()
                }
            }
        }

        function append_review(reviews, link, id) {
            if (reviews != undefined) {
                $.each(reviews, function(ikey, idata){
                    frame = $('#review-frame-sample').clone().prop({id: 'review-' + idata.id}).show()
                    frame.find('#review-date').append(idata.date)
                    frame.find('#review-open-link').attr('href', idata.link )
                    $('.review-container').append(frame)
                })
                if (reviews.length > 0) {
                    $('.btn-all-reviews').show()
                    $('.btn-all-reviews').off('click').on('click', function(){window.open(link, '_blank')})
                }
                else {
                    $('.btn-all-reviews').hide()
                }
            }
        }

    </script>
    {% block custom_js %}{% endblock %}
{% endblock %}