{% extends "skillsearch/skillsearch.html" %}

{% block destination %}
    '{% url 'skillsearch:employeesjson' %}'
{% endblock %}

{% block advanced_destination %}
    '{% url 'skillsearch:employeesadvancedjson' %}'
{% endblock %}

{% block complex_destination %}
    '{% url 'skillsearch:employeescomplexjson' %}'
{% endblock %}

{% block base_destination %}
    '{% url 'skillsearch:employeesjson' %}'
{% endblock %}

{% block details_destination %}
    "{% url 'skillsearch:employeedetailsredirect' %}"
{% endblock %}

{% block include_body %}
    {% include 'skillsearch/employee_profile_body.html' %}
{% endblock %}

{% block additional_search_options %}
    <option value="team">Team</option>
    <option value="position">Position</option>
{% endblock %}