{% load static %}
<div class='container-fluid'>
    <div class="row" id="body-template-row">
        <div class="col" id="profile-card-container" align="left">
            <div class="card" style="width: 20rem;">
                <img class="profile-picture-img rounded" id="profile-picture" src="{% if employees.picture %}{% get_media_prefix %}{{ employees.picture }}{% endif %}" alt="Card image cap">
                <div class="card-body card-body-details">
                <h4 class="empty-tab" id="employee-details-name" align="center">{{ employees.first_name }} {{ employees.last_name }}</h4>
                </div>
            </div>
        </div>
        <div class="col" id="profile-container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#profile" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                </li>
                {% if perms.skillsearch.add_review and  perms.skillsearch.change_review and perms.skillsearch.delete_review %}
                    <li class="nav-item">
                        <a class="nav-link" id="employee-reviews-tab-button" href="#reviews" data-toggle="tab" role="tab" aria-controls="reviews" aria-selected="false">Performance review</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" id="candidate-interviews-tab-button" href="#interviews" data-toggle="tab" role="tab" aria-controls="interviews" aria-selected="false">Interviews</a>
                </li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane fade show active employee-profile rounded-bottom" id="profile" role="tabpanel" aria-labelledby="candidate-profile-tab-button">
                    <div class="stand-out-left">
                        <dl class="row">

                            <dt class="col-md-1" id="team-header"><i class="fa fa-users" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Teams"></i></dt>
                            <dd class="col-md-11 empty-tab" id="team-tab">
                                {% for team in employees.teams.all %}{% if forloop.counter != 1 %}, {% endif %}{{ team }}{% endfor %}
                            </dd>

                            <dt class="col-md-1" id="position-header"><i class="fa fa-user-md" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Positions"></i></dt>
                            <dd class="col-md-11 empty-tab" id="position-tab">
                                {% for position in employees.position.all %}{% if forloop.counter != 1 %}, {% endif %}{{ position }}{% endfor %}
                            </dd>

                            <dt class="col-md-1" id="position-header"><i class="fa fa-user-secret" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Compliance"></i></dt>
                            <dd class="col-md-11 empty-tab text-{{ employees.compliance.color }}" id="compliance-tab">
                                {% if employees.compliance %}
                                    {{ employees.compliance }}
                                {% endif %}
                            </dd>

                            <dt class="col-md-1" id="birthday-header"><i class="fa fa-birthday-cake" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Birthday"></i></dt>
                            <dd class="col-md-11 empty-tab" id="birthday-tab">
                                {% if employees.birthday %}
                                    {{ employees.birthday }}
                                {% endif %}
                            </dd>

                            <dt class="col-md-1" id="pemail-header"><i class="fa fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Personal Email"></i></dt>
                            <dd class="col-md-11 empty-tab" id="pemail-tab">
                                {{ employees.pemail }}
                            </dd>

                            <dt class="col-md-1" id="cemail-header"><i class="fa fa-envelope" aria-hidden="true"  data-toggle="tooltip" data-placement="left" title="Corporate Email"></i></dt>
                            <dd class="col-md-11 empty-tab" id="cemail-tab">
                                {{ employees.cemail }}
                            </dd>

                            <dt class="col-md-1" id="phone-header"><i class="fa fa-phone-square" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Phone"></i></dt>
                            <dd class="col-md-11 empty-tab" id="phone-tab">
                                {{ employees.phone_number }}
                            </dd>

                            <dt class="col-md-1" id="skype-header"><i class="fa fa-skype" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Skype"></i></dt>
                            <dd class="col-md-11 empty-tab" id="skype-tab">
                                {{ employees.skype }}
                            </dd>
                            <dt class="col-md-1" id="social-header"><i class="fa fa-user-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Social links"></i></dt>
                            <dd class="col-md-11 empty-tab" id="social-tab">
                                {% if employees.linkedin %}
                                    <a href="{{ employees.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                                {% endif %}
                                {% if employees.facebook %}
                                    <a href="{{ employees.facebook }}" target="_blank"><i class="fa fa-facebook-square"></i></a>
                                {% endif %}
                                {% if employees.twitter %}
                                    <a href="{{ employees.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i></a>
                                {% endif %}
                            </dd>
                            <dt class="col-md-1" id="cv-header"><i class="fa fa-id-badge" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="CV"></i></dt>
                            <dd class="col-md-11 empty-tab" id="cv-tab">
                                {% if employees.cv %}
                                    <i class="fa {{ employees.file_icon }}" aria-hidden="true"></i> <a href="{% get_media_prefix %}{{ employees.cv }}">Download</a>
                                {% endif %}
                            </dd>

                            <dt class="col-md-1"><i class="fa fa-wrench" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Skills"></i></dt>
                            <dd class="col-md-11" id="skillset-tab">
                                {% for skill in employees.serialize.skillset %}
                                    {{ skill.name }}
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ skill.level }}0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{ skill.level }}</div>
                                    </div>
                                {% endfor %}
                            </dd>
                            <footer class="blockquote-footer">Added by: <cite title="Source Title" id="added-by-tab" class="empty-tab">{{ employees.added_by.first_name }} {{ employees.added_by.last_name }}</cite></footer>
                        </dl>
                    </div>
                </div>

                {% if perms.skillsearch.add_review and  perms.skillsearch.change_review and perms.skillsearch.delete_review %}
                    <div class="tab-pane fade employee-profile rounded-bottom" id="reviews" role="tabpanel" aria-labelledby="employee-reviews-tab-button">
                        <div class="review-container empty-tab">
                            {% for review in reviews %}
                                <div class="col-md-12 review-frame rounded border border-default">
                                    <div class="col-md-6 d-inline-block">
                                        <dl class="row dl-review">
                                            <dt class="col-sm-5 d-nomargin">Date</dt>
                                                {{ review.date }}
                                            <dd class="col-sm-7 d-nomargin">
                                        </dl>
                                    </div>
                                    <div class="col-md-6 d-inline-block review-right" align="right">
                                        <div class="col-md-12">

                                        </div>
                                        <div class="col-md-12 review-open" align="bottom">
                                            <a href="{{ review.get_link }}">Open>></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="review-button">
                            <button {% if profile_id %}onclick="window.open('{{ reviews_link }}', '_blank')" {% endif %}type="button" class="btn btn-secondary btn-lg btn-block btn-all-reviews">Show all</button>
                        </div>
                    </div>
                {% endif %}
                {% include "skillsearch/interviews_modal.html" %}
            </div>
        </div>
    </div>
</div>