{% extends "skillsearch/base.html" %}

{% block body %}
    <div class="container-fluid col-sm-9 col-md-10">

        <div class="body-template base-body">
            <h1>{% if profile %}{{ profile }}'s {% else %}All {% endif %}Interviews</h1>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Result</th>
                    <th scope="col">Short Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for interview in interviews %}
                    <tr>
                        <th scope="row">{{ interview.date }}</th>
                        <td class="text-{{ interview.result.color }}">{{ interview.result }}</td>
                        <td>{{ interview.short_description }}</td>
                        <td><a href="{{ interview.get_link }}">Open>></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- /.container -->
{% endblock %}