{% extends "skillsearch/base.html" %}

{% block body %}
    <div class="container-fluid col-sm-9 col-md-10">
        <div class="row justify-content-center interview-col">
            <div class="col-md-8 border rounded">
                <div class="row interview-row justify-content-between">
                    <div class="col-md-4">
                        <div class="interview-photo-frame border rounded">
                            <img class="interview-photo-img" src="{{ profile.thumbnail.url}}">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row interview-row">
                            <div class="col-md-12" align="left">
                                <h3>{{ profile }}</h3>
                            </div>
                        </div>
                        <div class="row interview-row">
                            <div class="col-md-12">
                                <dl class="row border border-right-0 border-left-0 border-top-0">
                                    <dt class="col-sm-5 d-nomargin">Date</dt>
                                    <dd class="col-sm-7 d-nomargin">
                                        {{ interview.date }}
                                    </dd>
                                    <dt class="col-sm-5 d-nomargin">Result</dt>
                                    <dd class="col-sm-7 d-nomargin text-{{ interview.result.color }}">
                                        {{ interview.result }}
                                    </dd>
                                    <dt class="col-sm-5 d-nomargin">Teams</dt>
                                    <dd class="col-sm-7 d-nomargin">
                                        {% for team in interview.teams.all %}
                                            {{ team }}
                                        {% endfor %}
                                    </dd>
                                    <dt class="col-sm-5 d-nomargin">Interviewers</dt>
                                    <dd class="col-sm-7 d-nomargin">
                                        {% for interviewer in interview.interviewers.all %}
                                            {% if forloop.counter != interview.interviewers.count %}
                                                <a class="interviewer-link" data-content="<img class='interviewer-img rounded' src='{{ interviewer.thumbnail.url }}'>" href="{% url 'skillsearch:employeedetailspage' interviewer.id %}">{{ interviewer }}</a>,
                                            {% else %}
                                                <a class="interviewer-link" data-content="<img class='interviewer-img rounded' src='{{ interviewer.thumbnail.url }}'>" href="{% url 'skillsearch:employeedetailspage' interviewer.id %}">{{ interviewer }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </dd>
                                    <dt class="col-sm-5 d-nomargin">Short description</dt>
                                    <dd class="col-sm-7 d-nomargin">
                                        {{ interview.short_description }}
                                    </dd>
                                </dl>
                                <h5><b>Description</b></h5>
                                <p>{{ interview.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function() {
            $('.interviewer-link').popover({
                trigger: 'hover',
                html: true,
{#                template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',#}
                placement: 'bottom'
            })
        }
    </script>
{% endblock %}