<div class="tab-pane fade employee-profile rounded-bottom" id="interviews" role="tabpanel" aria-labelledby="candidate-interviews-tab-button">
    <div class="interview-container empty-tab">
        {% for interview in interviews %}
            <div class="col-md-12 interview-frame rounded border border-default">
                <div class="col-md-6 d-inline-block">
                    <dl class="row dl-interview">
                        <dt class="col-sm-5 d-nomargin">Date</dt>
                        <dd class="col-sm-7 d-nomargin">
                            {{ interview.date }}
                        </dd>
                        <dt class="col-sm-5 d-nomargin">Result</dt>
                        <dd class="col-sm-7 d-nomargin text-{{ interview.result.color }}">
                            {{ interview.result }}
                        </dd>
                        <dt class="col-sm-5 d-nomargin">Short description</dt>
                        <dd class="col-sm-7 d-nomargin">
                            {{ interview.short_description }}
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6 d-inline-block interview-right" align="right">
                    <div class="col-md-12">

                    </div>
                    <div class="col-md-12 interview-open" align="bottom">
                        <a href="{{ interview.get_link }}">Open>></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="interview-button">
        <button {% if profile_id %}onclick="window.open('{{ interviews_link }}', '_blank')" {% endif %}type="button" class="btn btn-secondary btn-lg btn-block btn-all-interviews">Show all</button>
    </div>
</div>