{% extends "skillsearch/base.html" %}

{% block body %}
    <div class="container-fluid col-sm-9 col-md-10">

        <div class="body-template base-body">
            <h1>{% if profile %}{{ profile }}'s {% else %}All {% endif %}Reviews</h1>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                    <tr>
                        <th scope="row">{{ review.date }}</th>
                        <td><a href="{{ review.get_link }}">Open>></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- /.container -->
{% endblock %}