{% extends "skillsearch/base.html" %}

{% block body %}
    <div class="container-fluid col-sm-9 col-md-10">
        <div class="row justify-content-center interview-col">
            <div class="col-md-8 border rounded">
                <div class="row interview-row justify-content-between">
                    <div class="col-md-4">
                        <div class="interview-photo-frame border rounded">
                            <img class="interview-photo-img" src="{{ profile.thumbnail.url}}">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row interview-row">
                            <div class="col-md-12" align="left">
                                <h3>{{ profile }}</h3>
                            </div>
                        </div>
                        <div class="row interview-row">
                            <div class="col-md-12">
                                <dl class="row border border-right-0 border-left-0 border-top-0">
                                    <dt class="col-sm-5 d-nomargin">Date</dt>
                                    <dd class="col-sm-7 d-nomargin">
                                        {{ review.date }}
                                    </dd>
                                </dl>
                                <dl class="row">

                                <!-- Salary -->
                                {% if perms.skillsearch.add_salary and  perms.skillsearch.change_salary and perms.skillsearch.delete_salary %}
                                    <dt class="col-md-1" id="salary-header"><i class="fa fa-money" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Salary"></i></dt>
                                    <dd class="col-md-11" id="salary-tab">
                                        <div class="salary empty-tab" id="c-salary">{{ salary.current_salary }}</div> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> <div class="salary empty-tab" id="d-salary">{{ salary.desired_salary }}</div>
                                    </dd>
                                {% endif %}

                                <!-- Respobsibilities -->
                                <div class="col-sm-12 review-header" id="responsibilities-header"><i class="fa fa-laptop" aria-hidden="true"></i> Responsibilities</div>
                                <div class="col-sm-12 review-tab" id="responsibilities-tab">

                                    <div id="responsibilities-accordion" class="review-accordion" role="tablist">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="responsibilities-headingOne">
                                                <h6 class="mb-0">
                                                    <a data-toggle="collapse" href="#responsibilities-collapseOne" aria-expanded="true" aria-controls="responsibilities-collapseOne">
                                                    Feedback
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="responsibilities-collapseOne" class="collapse" role="tabpanel" aria-labelledby="responsibilities-headingOne" data-parent="#responsibilities-accordion">
                                                <div class="card-body review-card empty-tab" id="responsilities_feedback">
                                                {{ review.responsilities_feedback }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="responsibilities-headingTwo">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#responsibilities-collapseTwo" aria-expanded="false" aria-controls="responsibilities-collapseTwo">
                                                    Promises
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="responsibilities-collapseTwo" class="collapse" role="tabpanel" aria-labelledby="responsibilities-headingTwo" data-parent="#responsibilities-accordion">
                                                <div class="card-body review-card empty-tab" id="responsilities_promises">
                                                {{ review.responsilities_promises }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Team -->
                                <div class="col-sm-12" id="team-header"><i class="fa fa-users" aria-hidden="true"></i> Team</div>
                                <div class="col-sm-12 review-tab" id="team-tab">

                                    <div id="team-accordion" class="review-accordion" role="tablist">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="team-headingOne">
                                                <h6 class="mb-0">
                                                    <a data-toggle="collapse" href="#team-collapseOne" aria-expanded="true" aria-controls="team-collapseOne">
                                                    Feedback
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="team-collapseOne" class="collapse" role="tabpanel" aria-labelledby="team-headingOne" data-parent="#team-accordion">
                                                <div class="card-body review-card empty-tab" id="team_feedback">
                                                {{ review.team_feedback }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="team-headingTwo">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#team-collapseTwo" aria-expanded="false" aria-controls="team-collapseTwo">
                                                    Promises
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="team-collapseTwo" class="collapse" role="tabpanel" aria-labelledby="team-headingTwo" data-parent="#team-accordion">
                                                <div class="card-body review-card empty-tab" id="team_promises">
                                                {{ review.team_promises}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Office -->
                                <div class="col-sm-12" id="office-header"><i class="fa fa-building" aria-hidden="true"></i> Office</div>
                                <div class="col-sm-12 review-tab" id="office-tab">

                                    <div id="office-accordion" class="review-accordion" role="tablist">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="office-headingOne">
                                                <h6 class="mb-0">
                                                    <a data-toggle="collapse" href="#office-collapseOne" aria-expanded="true" aria-controls="office-collapseOne">
                                                    Feedback
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="office-collapseOne" class="collapse" role="tabpanel" aria-labelledby="office-headingOne" data-parent="#office-accordion">
                                                <div class="card-body review-card empty-tab" id="office_feedback">
                                                {{ review.office_feedback }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="office-headingTwo">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#office-collapseTwo" aria-expanded="false" aria-controls="office-collapseTwo">
                                                    Promises
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="office-collapseTwo" class="collapse" role="tabpanel" aria-labelledby="office-headingTwo" data-parent="#office-accordion">
                                                <div class="card-body review-card empty-tab" id="office_promises">
                                                {{ review.office_promises }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Other -->
                                <div class="col-sm-12" id="other-header"><i class="fa fa-book" aria-hidden="true"></i> Other</div>
                                <div class="col-sm-12 review-tab" id="other-tab">

                                    <div id="other-accordion" class="review-accordion" role="tablist">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="other-headingOne">
                                                <h6 class="mb-0">
                                                    <a data-toggle="collapse" href="#other-collapseOne" aria-expanded="true" aria-controls="other-collapseOne">
                                                    Feedback
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="other-collapseOne" class="collapse" role="tabpanel" aria-labelledby="other-headingOne" data-parent="#other-accordion">
                                                <div class="card-body review-card empty-tab" id="other_feedback">
                                                {{ review.other_feedback }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="other-headingTwo">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#other-collapseTwo" aria-expanded="false" aria-controls="other-collapseTwo">
                                                    Promises
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="other-collapseTwo" class="collapse" role="tabpanel" aria-labelledby="other-headingTwo" data-parent="#other-accordion">
                                                <div class="card-body review-card empty-tab" id="other_promises">
                                                {{ review.other_promises }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </dd>
                            </dl>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function() {
            console.log('temp')
        }
    </script>
{% endblock %}