{% extends "skillsearch/details_modal.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'skillsearch/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <!-- Script below handles employees list generation and search front-end functionality -->
    <script>
        window.onload = function() {
            get_employees()
            enable_modal()
            advanced_search_handler()
            //Simple search
            $('#employee-search-button').click(function(){
                $('.body-row').empty();
                search();
            });
            keyup("#employee-searchfield", "#employee-search-button")
            //Complex search
            complex_search_handler()
            //Advanced search
            // $('#employee-advanced-search-button').click(function(){
            //     $('.body-row').empty();
            //     advanced_search();
            // });
            keyup("#employee-advanced-searchfield", "#employee-advanced-search-button")
        };

        function search() {
            searchform = {
                'searchstring': '&searchstring=' + encodeURIComponent($('#employee-searchfield').val()),
                'condition': $('input[name=employee-options]:checked').val(),
                'destination': {% block destination %}{% endblock %}
            }
            $(window).off().scroll();
            get_employees(undefined, searchform);
        }

        function advanced_search() {
            console.log("working")
            searchstrings = $(".advanced-searchform .advanced-searchfield #employee-advanced-searchfield")
            searchcriterias = $(".advanced-searchform .advanced-searchlist #search-by")
            searchform = {
                'search_by': 'advanced',
                'searchstring': '',
                'destination': {% block advanced_destination %}{% endblock %},
            }
            for (var i = 0; i < searchstrings.length; i++) {
                // console.log($(searchcriterias[i]).val())
                // console.log($(searchstrings[i]).val())
                // searchform[$(searchcriterias[i]).val()] = $(searchstrings[i]).val()
                searchform['searchstring'] += '&' + $(searchcriterias[i]).val() + '=' + $(searchstrings[i]).val()
            }
            console.log(searchform)
            // searchform = {
            //     'searchstring': '&searchstring=' + encodeURIComponent($('#employee-advanced-searchfield').val()),
            //     'condition': $('input[name=employee-advanced-options]:checked').val(),
            //     'destination': block advanced_destination,
            //     'search_by': $("#search-by option:selected").val()
            // }
            $(window).off().scroll();
            get_employees(undefined, searchform);
        }


        function complex_search() {
            searchstring = "&search0=" + encodeURIComponent($(".complex-searchfield").val())
            $(".complex-searchfield2").each(function(i){
                i += 1
                searchstring += "&search" + i + "=" + $(this).val()
            })
            searchform = {
                'searchstring': searchstring,
                'destination': {% block complex_destination %}{% endblock %},
            }
            get_employees(undefined, searchform)
        }

        function get_employees(page=1, searchform=false){
            page_info = {}
            if (searchform.searchstring) {
                //Simple search
                // <Making GET string> all additional GET elements should be added to 'page'
                page += searchform.searchstring + '&condition=' + searchform.condition;
                // </Making GET string>
                page_info.searchform = searchform
                destination = searchform.destination
                //Advanced search
                if (searchform.search_by) {
                    page += '&search_by=' + searchform.search_by
                    // if (searchform.search_by == 'level') {
                    //     page += '&level=' + searchform.level
                    // }
                }
            }
            else {
                destination = {% block base_destination %}{% endblock %};
            }
            page_query = destination + '?page='+ page;
            count_query = destination + '?count&page=' + page;
            default_picture = '{% static 'skillsearch/images/../../../media/plug.svg' %}';

            //getting employee cards
            $.ajax({url: page_query, success: function(result){
                if (result) {

                    //Current page

                    page_info.current_page = result.current
                    page_info.pages_total = result.pages
                    if (page_info.current_page == 1) {
                        $("#employees-page-body").empty(); //clearing container
                        scroll_pagination(page_info); //enabling scroll pagination here once
                    }

                    count = 1 //counting iterations of each

                    //Checking whether response is for candidates or employees
                    if (result.employees_list) {
                        list = result.employees_list
                    }
                    else if (result.candidate_list) {
                        list = result.candidate_list
                    }

                    $.each(list, function( index, value ) {
                        skills = '';
                        skilllimit = 2; //skill display limit
                        if (value.skillset) {
                            $.each(value.skillset, function(skillindex, skillname) {
                                if (skillindex > skilllimit) {
                                    skills += '...';
                                    return false;
                                }
                                skills += skillname.name;
                                if (value.skillset.length - 1 != skillindex) {
                                   skills += ', ';
                                }
                            });
                        }
                        //Adding row for each 3 cards by cloning hidden element
                        if ((count % 3) == 1) {
                            current_row_id = 'employee_row_' + page_info.current_page + count
                            row = $('#row-sample').clone().prop({id: current_row_id}).prop('outerHTML')
                            $('#employees-page-body').append(row)
                            $('#' + current_row_id).show()
                        }
                        //Adding card to row by cloning hidden one and changing attributes
                        card_id = 'card_' + page_info.current_page + count
                        card = $("#card-sample").clone().prop({id: card_id}).prop('outerHTML')
                        $("#" + current_row_id).append(card)
                        //Changing attributes
                        $card_element = $('#' + card_id)
                        $card_element.find('.profile-picture-img').prop({src: value.picture})
                        if (value.active) {
                            $card_element.find('.card').addClass('border border-success')
                        }
                        else if (!value.active) {
                            if (typeof value.active === 'undefined') {
                                $card_element.find('.card').addClass('border border-warning')
                            }
                            else {
                                $card_element.find('.card').addClass('border border-danger')
                            }
                        }
                        $card_element.find('.card-title').text(value.first_name + ' ' + value.last_name)
                        $card_element.find('.card-text').text(skills)
                        if (value.teams) {
                            if (value.teams.length == 1){
                                $card_element.find('.badge-team').text(value.teams[0].name)
                            }
                            else if (value.teams.length > 1) {
                                $.each(value.teams, function(teamindex, team) {
                                    if (teamindex > 0) {
                                        $badge = $card_element.find('.badge-team').clone().text(team.name).prop('outerHTML')
                                        $card_element.find('.card-title-badge').append(' ')
                                        $card_element.find('.card-title-badge').append($badge)
                                    }
                                    else {
                                        $card_element.find('.badge-team').text(team.name)
                                    }
                                })
                            }
                        }
                        $card_element.find('.button-details').attr('data-id', value.id)
                        $('#' + card_id).fadeIn(600)
                        count++;
                    });
                }
            }});
        }

        function scroll_pagination(page_info) {
            current_page = page_info.current_page;
            pages_total = page_info.pages_total
            $(window).on().scroll(function() {
                if($(window).scrollTop() + $(window).height() >= $(document).height() && current_page < pages_total) {
                    get_employees(current_page + 1, page_info.searchform);
                    current_page++;
                }
            });
        }

        function advanced_search_handler() {
            $("#search-advanced-plus-button").click(function(){
                <!-- add field -->
                if ($('.advanced-searchfield').length < 10) {
                    <!-- Limit for 10 search criteria -->
                    $(".advanced-searchfields-container").append($(".advanced-searchform:last").prop('outerHTML'))
                    keyup(".advanced-searchfield:last", "#employee-advanced-search-button")
                }
            })
            $("#search-advanced-minus-button").click(function(){
                <!-- remove field -->
                if ($('.advanced-searchform').length > 1) {
                    $(".advanced-searchform:last").remove()
                }
            })
            $('#employee-advanced-search-button').click(function(){
                $('.body-row').empty();
                advanced_search();
            });
            keyup(".advanced-searchfield", "#employee-advanced-search-button")
        }

        function complex_search_handler() {
            $("#search-complex-plus-button").click(function(){
                <!-- Limit for 10 search criteria -->
                if ($('.complex-searchfield').length < 10) {
                    $(".complex-searchfields-container").append($(".complex-searchfield:last").prop('outerHTML'))
                    $(".complex-searchfield:last").addClass('complex-searchfield2')
                    keyup(".complex-searchfield:last", "#employee-complex-search-button")
                }
            })
            $("#search-complex-minus-button").click(function(){
                $(".complex-searchfield2:last").remove()
            })
            $('#employee-complex-search-button').click(function(){
                $('.body-row').empty();
                complex_search();
            });
            keyup(".complex-searchfield", "#employee-complex-search-button")
        }

        function keyup(field, button) {
            <!-- The function adds possibility to search by pressing Enter key (code is 13) -->
            $(field).keyup(function(event){
                if(event.keyCode == 13){
                    $(button).click();
                }
            })
        }

    </script>
    {% block modal_js %}
        {{ block.super }}
    {% endblock %}

{% endblock %}

{% block title %}|Skillsearch{% endblock %}

{% block body %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 search-col">
                    <div class="sticky-padding sticky-top">

                        <div class="card search-card">
                            <div class="card-header">
                                <i class="fa fa-search" aria-hidden="true"></i> Search
                            </div>
                            <div class="card-body card-body-search">
                                <ul class="nav nav-tabs" id="search-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="simple-tab" data-toggle="tab" href="#simple" role="tab" aria-controls="simple" aria-selected="true">Simple</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="comples-tab" data-toggle="tab" href="#complex" role="tab" aria-controls="complex" aria-selected="true">Complex</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced" aria-selected="false">Advanced</a>
                                    </li>
                                </ul>
                                <!-- Simple search -->
                                <div class="tab-content" id="search-content-tab">
                                    <div class="tab-pane fade show active" id="simple" role="tabpanel" aria-labelledby="simple-tab">

                                        <div class="form nav-search skillsearch-form">
                                            <input class="form-control mr-sm-2" id="employee-searchfield" type="text" placeholder="Enter skill name" aria-label="Search">
                                            <div class="form-check form-check-inline search-condition-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="employee-options" id="or" value="or" checked>OR
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline search-condition-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="employee-options" id="and" value="and">AND
                                                </label>
                                            </div>
                                            <button class="btn btn-outline-success float-right btn-search" id=employee-search-button>Search</button>
                                        </div>

                                    </div>

                                    <!-- Complex search -->
                                    <div class="tab-pane fade" id="complex" role="tabpanel" aria-labelledby="complex-tab">

                                        <div class="form nav-search skillsearch-form">
                                            <div class="row">
                                                <div class="col-md-8 complex-searchfields-container">
                                                    <input class="form-control mr-sm-2 complex-searchfield" id="employee-complex-searchfield" type="text" placeholder="Enter skill name" aria-label="Search">
                                                </div>
                                                <div class="col-md-4" align="right">
                                                    <div class="btn-group btn-complex-plusminus" role="group" aria-label="Form modification">
                                                        <button type="button" class="btn btn-primary" id="search-complex-plus-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                        <button type="button" class="btn btn-danger" id="search-complex-minus-button"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-outline-success float-right btn-search" id=employee-complex-search-button>Search</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- Advanced search -->
                                    <div class="tab-pane fade" id="advanced" role="tabpanel" aria-labelledby="profile-tab">

                                        <div class="form nav-search skillsearch-form">
                                            <div class="row">
                                                <div class="col-md-12" align="left">
                                                    <div class="btn-group btn-advanced-plusminus" role="group" aria-label="Form modification">
                                                        <button type="button" class="btn btn-primary" id="search-advanced-plus-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                        <button type="button" class="btn btn-danger" id="search-advanced-minus-button"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row advanced-row-margin advanced-searchfields-container">
                                                <div class="col-md-12 advanced-searchform">
                                                    <div class="row">
                                                        <div class="col-md-6 advanced-searchlist">
                                                            <select class="form-control" name="search-by" id="search-by">
                                                                <option value="name">Name</option>
                                                                {% block additional_search_options %}{% endblock %}
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6 advanced-searchfield">
                                                            <input class="form-control mr-sm-2" id="employee-advanced-searchfield" type="text" placeholder="Enter your query" aria-label="Search">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-outline-success float-right btn-search" id=employee-advanced-search-button>Search</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="body-template col-md-9" id="employees-page-body">

                </div>
            </div>
        </div>

        <div class="row body-row top-buffer" id="row-sample" style="display: none;">
        </div>

        <div class="col-md-4 col-sm-12 card-col" align="center" style="display: none;" id="card-sample">
            <div class="card" style="width: 20rem;" align="left">
                <div class="profile-picture-block"><img class="card-img-top profile-picture-img" src="#" alt="Card image cap"></div>
                <div class="card-body">
                    <h4 class="card-title card-title-search">first_name last_name</h4> <h5 class="card-title-search card-title-badge"><span class="badge badge-secondary badge-team align-top"></span></h5>
                    <p class="card-text">skills</p>
                    <a href="#" class="btn btn-primary button-details" data-toggle="modal" data-target="#employee-details-modal" data-id="">Details</a>
                </div>
            </div>
        </div>

        {{ block.super }}
{% endblock %}