{% extends "hrmain/base.html" %}

{% block body %}
    {% if skills %}
        <div class="container-fluid">
            <div class="body-template">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Skill name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for skill in skills %}
                            <tr>
                                <th scope="row">{{ skill.id }}</th>
                                <td>{{ skill.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}